{% extends 'student/base.html' %} {% block content %}
<div class="container mt-4" >
  <h1 class="text-center heading">Student Records</h1>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Welcome to the world of Student records</li>
    <li class="list-group-item">You can Create,Update,Delete or View a particular Record</li>
    <li class="list-group-item">You can search for a particular record or set of records by clicking on <em>SearchRecords</em></li>
    <li class="list-group-item">You can view all the records by clicking the <em>records</em> in the navbar</li>
    <li class="list-group-item">The only catch here is you need to be authorised :).</li>
  </ul>

</div>
{% endblock content %}
